.places {
  width: 984px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 80px;
}


@media screen and (max-width: 1050px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 980px) {
  .places {
    width: 720px;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 320px;
    grid-row-gap: 50px;

  }
}