.intro__list {
  min-height: 90px;
  margin: 0 auto 0 0;
  padding: 0;

  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;

  list-style-type: none;
}