.cover__subtitle {
  width: 360px;
  min-height: 66px;
  margin: 0 auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #FFFFFF;
}