.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  margin: 0 0 24px auto;
  color: #ffffff;
}


@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0;

    font-size: 14px;
    line-height: 14px;
  }
}