.footer__copyright {
  margin: 0 0 24px auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}


@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0 16px;
    padding-bottom: 24px;

    font-size: 14px;
    line-height: 14px;
  }
}