.lead__image {
  width: 984px;
  height: 615px;
  margin: 0 auto 8px auto;
}

@media screen and (max-width: 1184px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}

@media screen and (max-width: 960px) {
  .lead__image {
    width: 728px;
    height: 480px;
  }
}