.intro__text {
  width: 690px;
  min-height: 208px;
  margin: 0 auto 33px 148px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
}