.cover {
  display: grid;
  grid-template-columns: 1184px;
  grid-template-rows: 740px;

  background-image: url(../../images/baikal-background.png);
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .cover {
    grid-template-columns: 926px;
    grid-template-rows: 580px;

  }
}

@media screen and (max-width: 960px) {
  .cover {
    grid-template-columns: 768px;
    grid-template-rows: 460px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    grid-template-columns: 320px;
    grid-template-rows: 200px;

    background-image: url(../../images/baikal-backgroundS.jpg);
  }
}