.cover {
  display: grid;
  grid-template-columns: 1184px;
  grid-template-rows: 740px;

  background-image: url(../../images/baikal-background.png);
  background-position: center;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .cover {
    grid-template-columns: 1024px;
    grid-template-rows: 640px;

  }
}

@media screen and (max-width: 1023px) {
  .cover {
    grid-template-columns: 768px;
    grid-template-rows: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    grid-template-columns: 320px;
    grid-template-rows: 200px;

    background-image: url(../../images/baikal-backgroundS.jpg);
  }
}