.cover {
  width: 1184px;
  height: 740px;

  background-image: url(../../images/baikal-background.png);
  background-size: cover;
  margin: 0 auto;
}

@media screen and (max-width: 1184px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    height: 480px;
    width: 768px;

  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 320px;
    height: 200px;

    background-image: url(../../images/baikal-backgroundS.jpg);
  }
}