.intro__title {
  max-width: 690px;
  min-height: 58px;
  margin: 0 0 40px 0;

  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;

  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 320px;

    font-size: 32px;
    line-height: 35px;

  }
}